*{
    margin: 0px;
    padding: 0px;
}
.logo{
    display: flex;
    background-color: rgb(214, 69, 69);
    justify-content: space-between;
    padding: 1rem;
}
h1{
    color: white;
}
.Right button{
    margin-left: 0.8rem;
    font-size: 1.5rem;
    background-color: rgb(214, 69, 69);
    border: none;
    color: white;
    margin: 5px;
    padding-top: .3rem;
    cursor: pointer;
}
.search{
    display: flex;
    padding: 1rem 0rem; 
    justify-content: center;
    padding-top: 1rem;
    background-color: rgb(188, 177, 177);
}
.searching{
    width: 400px;
    max-width: 60%;
    font-size: 1rem;
    border-radius: 10px;
    padding: .5rem;
}
.search > button{
    font-size: 1rem;
    background-color: rgb(214, 69, 69);
    color: white;
    border-radius: 10px;
    margin-left: 0.5rem;
    padding: 0.5px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    background-image: url(./mover1.jpg);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hero > h2{
    background-color: black;
    color: white;
}
.hero > button{
    background-color:rgb(214, 69, 69);
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
}
.mover{
    text-align: center;
    padding: 1rem;
}
.mover > h2{
    font-size: 3rem;
    font-weight: bold;
}
.images{
    height: 400px;
}
.movie{
    display: flex;
    overflow-x: scroll;
}
.card{
    border: 0.5rem solid rgb(208, 199, 199);
    background-color: rgb(208, 199, 199);
    text-align: center;
    margin-left: 1rem;
    border-radius: 10px;
}
.card > h3{
    font-size: 2rem;
}
.bot{
    margin-top: 2rem;
    text-align: center;
}
.bot > img{
    max-width: 90%;
    border-radius: 10px;
}
@media (max-width:650px)
{
    .logo{
        flex-direction: column;
        align-items: center;
    }
    .Right{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .movie{
        flex-direction: column;
        gap: 1rem;
    }
    .search{ 
        display: flex;
        flex-direction: row;
    }
}